<app-navbar></app-navbar>
<br>
<div class="container" *ngIf="product_info">
    <div class="row align-items-center">
        <div class="col-md-4">
            <img [src]="product_info.product_img" width="100%">
        </div>
        <div class="col-md-7 text-center">
            <h1 style="font-size: 35px;">{{product_info.product_name}}</h1>
            <h1>{{product_info.cat_name}}</h1>
            <h1 style="font-size: 30px;">&#8377; {{product_info.price}}</h1>
            <button class="btn btn-primary" (click)="addtocart()" *ngIf="product_info.cart=='No'">Add to Cart</button>
            <button class="btn btn-success" (click)="addtocart()" *ngIf="product_info.cart!='No'">Added To Cart</button>
        </div>
    </div>
</div>
<br>
<app-footer></app-footer>