/* You can add global styles to this file, and also import other style files */
#webloader
{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    background: white;
    font-size: 25px;
    text-align: center;
    padding-top: 10%;
}